@mixin absoluteCenter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
canvas {
  width: 960px;
  height: 540px;
}
.root {
  // width: 100%;
  width: 960px;
  height: 540px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .root {
    width: 100%;
  }
  canvas {
    width: 100%;
    height: 80%;
  }
}
img {
  display: inline-block;
  width: 100%;
}
#UI {
  @include absoluteCenter();
  width: 300px;
  height: 300px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #aaa; 
  // display: none;
  // .hi {
  //   background-color: #a00;
  // }
  .ui-container {
    // display: flex;
    .image-container {
      display: inline-block;
      width: 100px;
      // height: 100px;
      padding: 10px;
      box-sizing: border-box;
      transition: .2s;
      &:hover {
        background-color: #ddd;
        transition: .2s;
      }
      img {
        // width: auto;
        height: 100%;
      }
    }
  }
}
#gameOver {
  @include absoluteCenter();
  width: 300px;
  max-height: 200px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #aaa; 
  text-align: center;
  border-radius: 10px;
}

// <div id={ 'controlPanel' }>
//         <div id={ 'dPad' }>
//           <button id={ 'dPadUp' }>UP</button>
//           <button id={ 'dPadRight' }>RIGHT</button>
//           <button id={ 'dPadDown' }>DOWN</button>
//           <button id={ 'dPadLeft' }>LEFT</button>
//         </div>
//         <div id={ 'buttons' }>
//           <button id={ 'attackBTN' }>ATK</button>
//         </div>
//       </div>

#controlPanel {
  // outline: 1px solid #a0a;
  position: absolute;
  top: 900px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  button {
    position: absolute;
    margin: auto;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 10px #aaa;
  }
  #dPad {
    position: relative;
    outline: 1px solid #a0a;
    width: 60%;
    #dPadUp {
      top: 0;
      left: 0;
      right: 0;
    }
    #dPadRight {
      top: 0;
      bottom: 0;
      right: 0;
    }
    #dPadLeft {
      top: 0;
      bottom: 0;
      left: 0;
    }
    #dPadDown {
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  #buttons {
    position: relative;
    width: 200px;
    #attackBTN {
      width: 100px;
      height: 100px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}



